@import "./font";
body{
      margin: 0;
      box-sizing: border-box;
      font-family: vazir;
}
*,*::after,*::before{
      box-sizing: inherit;
}
input, button,a{
      font: inherit;
}
.row{
      display: grid;
      grid-template-rows: 1fr;
}